
.results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
    
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 50px;
  }
    
  th {
    height: fit-content;
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }
